* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(../img/noise-bg.png);
    background-repeat: repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Inter;
    src: url(..//font/Inter-Regular.ttf);
}

.time {
    font-family: Inter;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3613rem;
    letter-spacing: -7%;
}

.time-block {
    display: flex;
    flex-direction: row;
}